<!DOCTYPE html>
    html(lang="es")
        head
            meta(charset="UTF-8")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            meta(name="description", content="Aprende dise침o Web y desarrollo Front End 游띶 con mis cursos de Html- Css - Email Marketing y m치s 游닄.")
            meta(name="author", content="Guillermo Tineo")
            meta(name="copyright", content="Hi Front Code")
            meta(name="keywords", content="front end, p치ginas, web, email, marketing, curso, dise침o, html5, css3, javascript, desarrollo, tutorial, wordpress, online")
            meta(name="robots", content="index")
            title HI! FRONT CODE
            link(href="css/fullpage.css" rel="stylesheet")
            link(href="css/bootstrap-grid.css" rel="stylesheet")
            link(href="css/stilo.css" rel="stylesheet")
            script
                include ../js/tag.js
            script
                include ../js/analitycs.js
        body
            #fullPage
                .section.s1 
                    .container
                        .col-12.col-sm-12.col-md-12.col-lg-12
                            img#logo.img-fluid.d-block.mx-auto(src="img/logo-hi-front-code-min.png", alt="logo hifrontcode")
                        .col-12.col-sm-8.col-md-8.col-lg-8
                            h1 CURSOS
                            h2 FRONT
                            h2 END
                        .col-12.col-sm-12.col-md-12.col-lg-12
                            a.flecha-down(href="#Cursos")
                                img.d-block.mx-auto(src="img/abajo.png", alt="abajo")
                .section.s2
                    .slide 
                        .container
                            .col-12.col-sm-12.col-md-12.col-lg-12
                                .row
                                    .col-12.col-sm-6.col-md-6.col-lg-6
                                        img.img-fluid(src="img/curso-emailing-min.jpg", alt="curso emailing marketing")
                                    .col-12.col-sm-6.col-md-6.col-lg-6
                                        .block-list
                                            h1 CURSO CREACI칍N<br>DE EMAILINGS RESPONSIVE
                                            ul.listado
                                                li
                                                    img.check(src="img/check-min.png" alt="check")
                                                    |   Aprender치s a crear emailings desde cero.
                                                li
                                                    img.check(src="img/check-min.png" alt="check")
                                                    |   Uso de tipograf칤as y optimizaci칩n de im치genes.
                                                li
                                                    img.check(src="img/check-min.png" alt="check")
                                                    |   Uso de BEEFREE y MAILCHIMP (GRATIS). 
                                                li
                                                    img.check(src="img/check-min.png" alt="check")
                                                    |   Crear un mailing responsive con BEEFREE.
                                                li
                                                    img.check(src="img/check-min.png" alt="check")
                                                    |   Realizar env칤os desde MAILCHIMP.
                                            a.btn(href="https://www.udemy.com/course/creacion-de-emailings-responsive-con-ps-bee-mailchimp/?referralCode=9702CFEE599AFFAEEFC5", target="_blank") IR AL CURSO                                                                                                                           
                    //.slide 
                        .container
                            h1 Slide 2
                    //.slide 
                        .container
                            h1 Slide 3	
                .section.s3
                    .container
                        .col-12.col-sm-12.col-md-12.col-lg-12
                            .row
                                .col-12.col-sm-6.col-md-6.col-lg-6.order-2.order-sm-1
                                    .redes-block
                                        div
                                            a(href="https://www.instagram.com/hifrontcode", target="_blank")
                                                img.img-fluid(src="img/instagram-min.png", alt="instagram hifrontcode")
                                        div
                                            a(href="https://www.youtube.com/channel/UCNn_DgXYJQNl31-R0xXn3Ug", target="_blank")
                                                img.img-fluid(src="img/youtube-min.png", alt="youtube hifrontcode")
                                        div
                                            a(href="https://www.facebook.com/HiFrontcode-101080638085536", target="_blank")
                                                img.img-fluid(src="img/facebook-min.png", alt="facebook hifrontcode")
                                        div
                                            //a(href="#")
                                            img.img-fluid(src="img/logo-spark-min.png", alt="spark hifrontcode")
                                        div        
                                            a(href="https://medium.com/@hifrontcode", target="_blank")
                                                img.img-fluid(src="img/logo-medium-min.png", alt="medium hifrontcode")

                                .col-12.col-sm-6.col-md-6.col-lg-6.order-1.order-msm-2
                                    h1 CONTENIDO<br>GRATUITO
                .section.s4
                    .container
                        .col-12.col-sm-12.col-md-12.col-lg-12
                            .soy-block.row
                                .col-12.col-sm-4.col-md-4.col-lg-4
                                    img.d-block.mx-auto(src="img/hi-min.png", alt="Guille hifrontcode")
                                .col-12.col-sm-8.col-md-8.col-lg-8
                                    p Mi nombre es Guille, soy Dise침ador Gr치fico y desarrollador Front End desde hace 7 a침os. Especializado en maquetaci칩n de sitios webs y emaling marketing. 
                                    .row
                                        .col-12.col-sm-12.col-md-12.col-lg-12
                                            ul.redes-personal.d-block.mx-auto
                                                li
                                                    a(href="https://github.com/Guille62", target="_blank")
                                                        img(src="img/github-min.png", alt="Git Hub Guille Tineo")
                                                li
                                                    a(href="https://codepen.io/Guille62", target="_blank")
                                                        img(src="img/code-pen-min.png", alt="CodePen Guille Tineo")
                                                li
                                                    a(href="https://dribbble.com/GuilleT62", target="_blank")
                                                        img(src="img/dribble-min.png", alt="Dribbble Guille Tineo")                                                                      

            script(src="js/jquery.js")  
            script(src="js/bootsatrap.js")
            script(src="js/fullpage.js")  
            script(src="js/full-page-control.js")                            