@media (min-width: 992px) {

    body{

        // SECCIÓN 1
        .s1{
            #logo{
                margin:5rem 2rem;
            }
            h1{
                font-size: 2.4rem;
                margin-bottom: -2.7rem;
                margin-left: 0.5rem;
            }
            h2{
                font-size: 9rem;
            }
        }


        // SECCIÓN 2
        .s2{
            .block-list{margin-left: 5rem;}
        }


        //SECCIÓN 3
        .s3{
            h1{
                font-size: 6rem;
                line-height: 5.8rem;
            }
            .redes-block{max-width: 460px;margin: 0 auto}
        }



    }
}

@media (min-width: 1200px) {

    body{

        // SECCIÓN 1
        .s1{
            h1{
                font-size: 3.4rem;
                margin-bottom: -3.4rem;
                margin-left: 0.5rem;
            }
            h2{
                font-size: 12rem;
                -webkit-text-stroke-width: 5px; 
            }

        }

        //SECCIÓN 3
        .s3{
            h1{
                font-size: 7rem;
                line-height:6rem;
                margin:0 !important;
                -webkit-text-stroke-width: 3px; 
            }
        }    

        // SECCIÓN 4

        .s4{
            .soy-block{
                max-width: 700px;
                margin: 0 auto;
                
                p{
                    font-size: 1.3rem;
                    line-height: 1.9rem;
                    margin-top: 0.5rem;
                    text-align: justify;
                }
            }
            .redes-personal{
                max-width: 280px;
                width: 100%;
              
                li  {  
                    img{
                        max-width: 100%;
                        margin:0  0.7rem;
                    }
                }    
            }    
        }
    }
}